@using HabitSculptor.Service.users.Areas.HelpPage
@model HabitSculptor.Service.Users.Areas.HelpPage.SampleGeneration.InvalidSample

@if (HttpContext.Current.IsDebuggingEnabled)
{
    <div class="warning-message-container">
        <p>@Model.ErrorMessage</p>
    </div>
}
else
{
    <p>Sample not available.</p>
}